/* :root {
  --bs-nav-link-color: white;
} */
.dx {
  display: flex;
  gap: 20px;

  align-items: center;
}

#box1 {
  margin-top: 60px;
  width: 850px;
}
.dx2 {
  display: flex;
  gap: 10px;

  align-items: center;
}
.nav {
  background-color: #212529;
  justify-content: space-between;
  color: white;
}
.dxx2 {
  display: flex;
  color: white;
}
@media only screen and (max-width: 900px) {
  .dx {
    display: none;
  }
}

body {
  background-color: white;
}
li {
  color: white;
}
main {
  background-color: white;
}
#box3 {
  display: flex;

  justify-content: space-between;
}
#box4 {
  display: flex;

  justify-content: space-between;
  border-bottom: 1px solid black;
}

.card {
  display: flex;
  background-color: red;
}
#box5 {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid grey;
}
#box6 {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
#box8 {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row-reverse;
}
#box10 {
  display: flex;
  flex-direction: row-reverse;
}
#box11 {
  border-bottom: 1px solid grey;
}
.p1 {
  color: blue;
}
#box12 {
  border-top: 1px solid grey;
  display: flex;
}
