.dx {
  display: flex;
  gap: 20px;

  align-items: center;
}
#input {
  border: 1px solid white;
  width: 300px;
}
.hero {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 30px;
}
#btn1 {
  border: 1px solid white;
  color: white;
  background-color: black;
}
#card {
  flex-wrap: wrap;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
footer {
  width: 60%;
  display: flex;

  padding-top: 100px;
  opacity: 0.5;
  flex-direction: column;
  margin-inline: auto;
}

.span1 {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.dx2 {
  display: flex;
  opacity: 0.5;

  align-items: center;
}
.btn2 {
  margin-top: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
@media only screen and (max-width: 900px) {
  .dx {
    display: none;
  }
}
.box1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
#svg1 {
  height: 20px;
  width: 20px;
  border: 1px solid white;
}
#pfoot {
  font-size: smaller;
}
